body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
